</section>




    <!--  Start Footer Section  -->
    <footer>
      <div class="row">
        

        <div class="small-12 medium-8 large-8 columns">
          <div class="contact_details right">
          

            <div class="contact">
              <div class="details">
                <p>STID@depdavenir.com</p>
                <p>0965468468</p>
              </div>

              <p class="adress">Domaine Universitaire d'Auriac Av du Docteur Suzanne Noël
				11000 CARCASSONNE</p>
            </div>
          </div>
        </div>

      </div>
	  
	        
</footer>
    <!--  End Footer Section  -->
	
	
    <!--    Start Back To Top    -->
    <a href="#" class="btn_fancy" id="back_top">
      <div class="solid_layer"></div>
      <div class="border_layer"></div>
      <div class="text_layer"><img src="lib/img/top_arrow.png" alt="Back to top" title="" class="top_arrow"></div>
    </a>
    <!--    End Back To Top    -->





    <!--    Javascript Files    -->

    <script type="text/javascript" src="lib/js/jquery.js"></script>
    <script type="text/javascript" src="lib/js/touchSwipe.min.js"></script>
    <script type="text/javascript" src="lib/js/easing.js"></script>
    <script type="text/javascript" src="lib/js/foundation.min.js"></script>
    <script type="text/javascript" src="lib/js/foundation/foundation.topbar.js"></script>
    <script type="text/javascript" src="lib/js/carouFredSel.js"></script>
    <script type="text/javascript" src="lib/js/scrollTo.js"></script>
    <script type="text/javascript" src="lib/js/main.js"></script>

  </body>
</html>
